/*inspired by https://codepen.io/Johnm__/pen/qZqgGJ*/
.background {
    z-index: -100;
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
  }

.particle {
    animation: particle-animation 9.5s linear infinite;
    align-self: flex-end;
    height: 1em;
    background: #1f1f1fa2;
}

.particle:nth-child(1) {
    width: 2em;
    animation-duration: 7s;
    filter: blur(4px);
}
.particle:nth-child(2) {
    width: 1.5em;
    animation-duration: 12s;
    filter: blur(1px);
}
.particle:nth-child(3) {
    width: 1.2em;
    animation-duration: 8s;
    filter: blur(15px);
}
.particle:nth-child(4) {
    width: 3em;
    animation-duration: 9s;
    filter: blur(10px);
}
.particle:nth-child(5) {
    width: 0.8em;
    animation-duration: 15s;
    filter: blur(12px);
}
.particle:nth-child(6) {
    width: 2.2em;
    animation-duration: 7.4s;
    filter: blur(2px);
}


@keyframes particle-animation {
    from {
        transform: translateY(120%) rotate(-50deg);
    }
    to {
        transform: translateY(-110vh) rotate(50deg);
    }
}
