html,
body {
	margin: 0 !important;
	padding: 0 !important;

	font-family: 'Raleway', sans-serif;
}



h1 {
	font-size: 2em;
	font-weight: 300;
}

h2 {
	font-size: 1.5em;
	font-weight: 300;
}

.debug {
	border: 1px solid red;
}